@font-face {
    font-family: "Harman-Retro";
    src: url("Harman-Retro.otf") format("truetype");
  }
  @font-face {
    font-family: "Harman-Sans";
    src: url("Harman-Sans.otf") format("truetype");
  }
  @font-face {
    font-family: "Harman-Elegant";
    src: url("Harman-Elegant.otf") format("truetype");
  }
  
  html {
    height: 100%;
    width: 100%;
  }
  
  img{
    width: 700px;
  }
  
  body{
    background-color: #9Ad1d4;
  }
  h1{
    font-family: "Harman-Retro";
  }
  
  
  h3, h2{
    color: #101010;
    font-family: "Harman-Sans";
  }
  
  hr{
    color: #000000;
  }
  
  p{
    font-family: "Harman-Elegant";
    font-size: 18px;
    text-align: center;
  }